@model bdd.workshop.calculator.web.Models.Raiz

@{ 

    ViewBag.Title = "Raiz!";
}

<h2>Do an Operation</h2>
@using (Html.BeginForm("Operate","RaizCuadrada"))
            {
<fieldset>
    <legend>Raiz</legend>

    <div class="editor-field">
        First Number: @Html.TextBoxFor(model => model.A.TheNumber);
    </div>
</fieldset>
                <input type="submit" value="Do The operation"/>
            }